Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(cli): enhance liveSync command by adding configuration options and implement chunking functionality for JSON data
  packages/@intlayer/cli/src/cli.ts
  packages/@intlayer/cli/src/liveSync.ts
  packages/@intlayer/cli/src/utils/chunkJSON.test.ts
  packages/@intlayer/cli/src/utils/chunkJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): enhance FormFieldElement to support controlled inputs by merging onChange handlers and managing value state
  packages/@intlayer/design-system/src/components/Form/elements/FormElement.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): added auto focus to the input of the locale switcher
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(cli): implement translation dictionary functionality and enhance fill process with missing locale filtering
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/cli/src/fill/listTranslationsTasks.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/cli/src/utils/chunkJSON.ts
  packages/@intlayer/core/src/deepTransformPlugins/getFilterMissingTranslationsContent.test.ts
  packages/@intlayer/core/src/deepTransformPlugins/getFilterMissingTranslationsContent.ts
  packages/@intlayer/core/src/deepTransformPlugins/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): introduce cacheDir configuration option and update related file paths for improved cache management
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/config/src/types/config.ts
  packages/astro-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add Astro documentation route and integrate Astro logo into TechLogos component
  apps/website/src/Routes.ts
  apps/website/src/components/LandingPage/LandingSection/TechLogos.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): removed the unnecessary useEffect hook
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(core): rename getFilterMissingTranslationsContent to getFilterTranslationsOnlyContent for clarity
  packages/@intlayer/core/src/deepTransformPlugins/getFilterMissingTranslationsContent.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): move chunking and reassembly of JSON data in chokidar utility functions
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/utils/chunkJSON.test.ts
  packages/@intlayer/chokidar/src/utils/chunkJSON.ts
  packages/@intlayer/chokidar/src/utils/getChunk.test.ts
  packages/@intlayer/chokidar/src/utils/getChunk.ts
  packages/@intlayer/chokidar/src/utils/splitTextByLine.test.ts
  packages/@intlayer/chokidar/src/utils/splitTextByLine.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/cli/src/reviewDoc.ts
  packages/@intlayer/cli/src/translateDoc.ts
  packages/@intlayer/cli/src/utils/calculateChunks.test.ts
  packages/@intlayer/cli/src/utils/calculateChunks.ts
  packages/@intlayer/cli/src/utils/mapChunksBetweenFiles.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): restore handleUnlinkedContentDeclarationFile functionality and update import references
  packages/@intlayer/chokidar/src/handleUnlinkedContentDeclarationFile.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/watcher.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(package): mark astro-react-app as private in package.json
  examples/astro-react-app/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): change astro logo fill color from white to currentColor for better adaptability
  apps/website/src/components/LandingPage/AvailableTechnoSection/Astro.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add Astro logo to TechLogos component for documentation routing
  apps/website/src/components/LandingPage/LandingSection/TechLogos.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): clean up import statements in chunkJSON utility file
  packages/@intlayer/chokidar/src/utils/chunkJSON.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

doc: add spacing promise-based nature of the withIntlayer() function in Next.js integration documentation
  docs/docs/en/intlayer_with_nextjs_15.md
  docs/docs/en/intlayer_with_nextjs_page_router.md
Due: prettier --write

fix(website): add 'github.com' to secure headers for improved security configuration
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): update TechLogos component to include Express and NestJS logos for enhanced documentation routing
  apps/website/src/components/LandingPage/LandingSection/TechLogos.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): add out-of-date warning for translated docs in DocHeader
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/OutdatedTranslationMessage/index.tsx
  apps/website/src/components/DocPage/OutdatedTranslationMessage/outdatedTranslationMessage.content.ts
  docs/docs/en-GB/configuration.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): add changeset for out-of-date-doc feature
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  docs/docs/en-GB/configuration.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): add out-of-date warning for translated docs in DocHeader
  docs/docs/en-GB/configuration.md
Due: prettier --write

feat(website): add out-of-date warning for translated docs in DocHeader
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/page.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  docs/docs/en-GB/configuration.md
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat(website): add out-of-date warning for translated docs in DocHeader
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docs): remove outdated package documentation for various Intlayer packages to streamline repository
  docs/docs/de/packages/@intlayer/api/index.md
  docs/docs/de/packages/@intlayer/chokidar/index.md
  docs/docs/de/packages/@intlayer/cli/index.md
  docs/docs/de/packages/@intlayer/config/index.md
  docs/docs/de/packages/@intlayer/core/index.md
  docs/docs/de/packages/@intlayer/design-system/index.md
  docs/docs/de/packages/@intlayer/dictionary-entry/index.md
  docs/docs/de/packages/@intlayer/editor-react/index.md
  docs/docs/de/packages/@intlayer/editor/index.md
  docs/docs/de/packages/@intlayer/webpack/index.md
  docs/docs/de/packages/angular-intlayer/index.md
  docs/docs/de/packages/express-intlayer/index.md
  docs/docs/de/packages/intlayer-cli/index.md
  docs/docs/de/packages/intlayer-editor/index.md
  docs/docs/de/packages/intlayer/index.md
  docs/docs/de/packages/lynx-intlayer/index.md
  docs/docs/de/packages/next-intlayer/index.md
  docs/docs/de/packages/nuxt-intlayer/index.md
  docs/docs/de/packages/preact-intlayer/index.md
  docs/docs/de/packages/react-intlayer/index.md
  docs/docs/de/packages/react-native-intlayer/index.md
  docs/docs/de/packages/react-scripts-intlayer/index.md
  docs/docs/de/packages/solid-intlayer/index.md
  docs/docs/de/packages/svelte-intlayer/index.md
  docs/docs/de/packages/vite-intlayer/index.md
  docs/docs/de/packages/vue-intlayer/index.md
  docs/docs/es/packages/angular-intlayer/index.md
Due: prettier --write

refactor(doc): remove getLocalizedContent function and related documentation for cleaner API
  docs/docs/ar/formatters.md
  docs/docs/de/formatters.md
  docs/docs/en-GB/formatters.md
  docs/docs/en/formatters.md
  docs/docs/es/formatters.md
  docs/docs/fr/formatters.md
  docs/docs/hi/formatters.md
  docs/docs/it/formatters.md
  docs/docs/ja/formatters.md
  docs/docs/ko/formatters.md
  docs/docs/pt/formatters.md
  docs/docs/ru/formatters.md
  docs/docs/tr/formatters.md
  docs/docs/zh/formatters.md
Due: prettier --write

chore(docs): add YAML front matter to internationalization documentation files for consistency across languages
  docs/docs/ar/intlayer_with_vite+react.md
  docs/docs/de/intlayer_with_vite+react.md
  docs/docs/en-GB/intlayer_with_vite+react.md
  docs/docs/es/intlayer_with_vite+react.md
  docs/docs/fr/intlayer_with_vite+react.md
  docs/docs/hi/intlayer_with_vite+react.md
  docs/docs/it/intlayer_with_vite+react.md
  docs/docs/ja/intlayer_with_vite+react.md
  docs/docs/ko/intlayer_with_vite+react.md
  docs/docs/pt/intlayer_with_vite+react.md
  docs/docs/ru/intlayer_with_vite+react.md
  docs/docs/zh/intlayer_with_vite+react.md
Due: prettier --write

chore(deps): upgrade React and related packages to version 19.2.0 across repo
  apps/backend/package.json
  apps/website/package.json
  examples/astro-react-app/package.json
  examples/next-15-next-intl-app/package.json
  examples/nextjs-15-app/package.json
  examples/react-app/package.json
  examples/vite-react-app/package.json
  package.json
  packages/@intlayer/config/package.json
  packages/intlayer-editor/package.json
  plugins/sync-json-plugin/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docs): prepend '[docs]' to file not found error messages for improved clarity in logging
  docs/src/generated/blog.entry.ts
  docs/src/generated/docs.entry.ts
  docs/src/generated/frequentQuestions.entry.ts
  docs/src/generated/legal.entry.ts
  docs/tools/generateEntry.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): update merging dictionary process
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeDynamicDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeMergedDictionary.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/mergeDictionaries.test.ts
  packages/@intlayer/chokidar/src/mergeDictionaries.ts
  packages/@intlayer/chokidar/src/processPerLocaleDictionary.ts
  packages/@intlayer/chokidar/src/utils/chunkJSON.ts
  packages/@intlayer/chokidar/src/utils/getExtension.ts
  packages/@intlayer/chokidar/src/utils/parallelize.ts
  packages/@intlayer/core/src/deepTransformPlugins/getLocalizedContent.test.ts
  packages/@intlayer/core/src/deepTransformPlugins/getLocalizedContent.ts
  packages/@intlayer/core/types/intlayer.d.ts
  packages/react-intlayer/src/plugins.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(chokidar): handle JSON stringify errors in writeJsonIfChanged function
  packages/@intlayer/chokidar/src/writeJsonIfChanged.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(chokidar): add onIsCached option to prepareIntlayer for enhanced caching handling
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(sync-json): enhance syncJSON plugin with priority handling and support for multiple JSON sources
  docs/docs/en/plugins/sync-json.md
  plugins/sync-json-plugin/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(cli): simplify dictionary processing by removing unnecessary function call and restructuring result format
  packages/@intlayer/cli/src/fill/translateDictionary.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(docs): streamline DocumentationPage and DocHeader components by removing unused props and utilizing locale context
  apps/website/src/app/[locale]/(docs)/doc/[[...slugs]]/page.tsx
  apps/website/src/components/DocPage/DocHeader/DocHeader.tsx
  apps/website/src/components/DocPage/OutdatedTranslationMessage/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(next-intlayer): manage go back action case in useLocale
  apps/website/src/components/LocaleSwitcher/LocaleSwitcher.tsx
  docs/docs/en/intlayer_with_nextjs_14.md
  docs/docs/en/intlayer_with_nextjs_15.md
  docs/docs/en/packages/next-intlayer/useLocale.md
  packages/next-intlayer/src/client/useLocale.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(website): correct stop-color attributes to stopColor for Astro SVG compatibility
  apps/website/src/components/LandingPage/AvailableTechnoSection/Astro.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): streamline dictionary merging logic
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/buildIntlayerDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeNormalizedDictionary.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltNormalizedDictionariesPath.ts
  packages/@intlayer/chokidar/src/mergeDictionaries.ts
  packages/@intlayer/chokidar/src/utils/chunkJSON.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/config/src/alias.ts
  packages/@intlayer/config/src/client.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/types/config.ts
  packages/@intlayer/normalized-dictionaries-entry/.npmignore
  packages/@intlayer/normalized-dictionaries-entry/README.md
  packages/@intlayer/normalized-dictionaries-entry/package.json
  packages/@intlayer/normalized-dictionaries-entry/src/index.ts
  packages/@intlayer/normalized-dictionaries-entry/tsconfig.json
  packages/@intlayer/normalized-dictionaries-entry/tsconfig.types.json
  packages/@intlayer/normalized-dictionaries-entry/tsup.config.ts
  packages/@intlayer/normalized-dictionaries-entry/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(chokidar): streamline dictionary merging logic
  apps/backend/package.json
  apps/website/src/components/Dashboard/Editor/EditorLayout.tsx
  apps/website/src/components/Dashboard/Editor/index.tsx
  apps/website/src/components/Dashboard/Editor/mergeDictionaries.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeMergedDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeUnmergedDictionary.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/utils/chunkJSON.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/config/src/alias.ts
  packages/@intlayer/config/src/client.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/types/config.ts
  packages/@intlayer/core/package.json
  packages/@intlayer/core/src/dictionaryManipulator/editDictionaryByKeyPath.ts
  packages/@intlayer/core/src/dictionaryManipulator/getContentNodeByKeyPath.ts
  packages/@intlayer/core/src/dictionaryManipulator/getUnmergedDictionaryByKeyPath.ts
  packages/@intlayer/core/src/dictionaryManipulator/index.ts
  packages/@intlayer/core/src/dictionaryManipulator/mergeDictionaries.ts
  packages/@intlayer/core/src/dictionaryManipulator/normalizeDictionary.ts
  packages/@intlayer/core/src/dictionaryManipulator/orderDictionaries.test.ts
  packages/@intlayer/core/src/dictionaryManipulator/orderDictionaries.ts
  packages/@intlayer/core/src/dictionaryManipulator/renameContentNodeByKeyPath.ts
  packages/@intlayer/design-system/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): streamline dictionary merging logic
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/buildIntlayerDictionary.ts
  packages/@intlayer/chokidar/src/buildIntlayerDictionary/writeNormalizedDictionary.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/createDictionaryEntryPoint.ts
  packages/@intlayer/chokidar/src/createDictionaryEntryPoint/getBuiltNormalizedDictionariesPath.ts
  packages/@intlayer/cli/src/fill/translateDictionary.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/types/config.ts
  packages/@intlayer/normalized-dictionaries-entry/.npmignore
  packages/@intlayer/normalized-dictionaries-entry/README.md
  packages/@intlayer/normalized-dictionaries-entry/package.json
  packages/@intlayer/normalized-dictionaries-entry/src/index.ts
  packages/@intlayer/normalized-dictionaries-entry/tsconfig.json
  packages/@intlayer/normalized-dictionaries-entry/tsconfig.types.json
  packages/@intlayer/normalized-dictionaries-entry/tsup.config.ts
  packages/@intlayer/normalized-dictionaries-entry/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: any of: *.{md,mdx}
