Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update package.json scripts across multiple packages to use '&&' instead of '&' for build commands
  apps/backend/package.json
  docs/package.json
  examples/express-app/package.json
  package.json
  packages/@intlayer/api/package.json
  packages/@intlayer/babel/package.json
  packages/@intlayer/chokidar/package.json
  packages/@intlayer/cli/package.json
  packages/@intlayer/config/package.json
  packages/@intlayer/core/package.json
  packages/@intlayer/design-system/package.json
  packages/@intlayer/dictionaries-entry/package.json
  packages/@intlayer/dynamic-dictionaries-entry/package.json
  packages/@intlayer/editor-react/package.json
  packages/@intlayer/editor/package.json
  packages/@intlayer/fetch-dictionaries-entry/package.json
  packages/@intlayer/mcp/package.json
  packages/@intlayer/remote-dictionaries-entry/package.json
  packages/@intlayer/unmerged-dictionaries-entry/package.json
  packages/@intlayer/webpack/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer/package.json
  packages/lynx-intlayer/package.json
  packages/next-intlayer/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-native-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(config): add buildConfigurationFields export and clean up buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/index.ts
  packages/@intlayer/config/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): add unit tests for mergeDictionaries and enhance orderDictionaries tests with new configurations
  packages/@intlayer/core/src/dictionaryManipulator/mergeDictionaries.test.ts
  packages/@intlayer/core/src/dictionaryManipulator/mergeDictionaries.ts
  packages/@intlayer/core/src/dictionaryManipulator/orderDictionaries.test.ts
  packages/@intlayer/core/src/dictionaryManipulator/orderDictionaries.ts
  packages/@intlayer/core/src/transpiler/file/file.test.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: add test file pattern to watcher configuration for improved test coverage
  scripts/script-dev-package-command.mjs
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update development scripts in package.json files to enable hot reloading for improved development experience
  apps/backend/package.json
  examples/express-app/package.json
  packages/intlayer-editor/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(core): update mergeDictionaries functionality with additional test cases for conflict resolution and fallback handling
  packages/@intlayer/core/src/dictionaryManipulator/mergeDictionaries.test.ts
  packages/@intlayer/core/src/dictionaryManipulator/mergeDictionaries.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): restore rate limiter functions
  apps/backend/src/utils/rateLimiter.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove issue file
  issues/183
Due: none

feat(config): add formatCommand option to editor configuration for automatic content formatting
  apps/website/intlayer.config.ts
  docs/docs/en/configuration.md
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/types/config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(backend): improve type safety in rate limiter error handling
  apps/backend/src/utils/rateLimiter.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: exclude astro-intlayer package from Docker build context in mcp build
  packages/@intlayer/mcp/Dockerfile
Due: none

refactor(express-intlayer): enhance rate limiter implementation with improved type safety and error handling
  apps/backend/src/utils/rateLimiter.ts
  packages/express-intlayer/src/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): restore start script in package.json to use node instead of bun for production environment because of express-intlayer
  apps/backend/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): add TypeScript ignore comments to resolve type assignment issues in rateLimiter
  apps/backend/src/utils/rateLimiter.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(backend): add ts-nocheck comment to address type errors in rateLimiter
  apps/backend/src/utils/rateLimiter.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update Dockerfiles and .dockerignore to exclude additional files and improve build context
  .dockerignore
  apps/backend/Dockerfile
  apps/website/Dockerfile
  apps/website/package.json
  packages/@intlayer/mcp/Dockerfile
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: simplify Dockerfile by removing filter from bun install command
  apps/website/Dockerfile
Due: none

fix(backend): cast rateLimit to any to resolve TypeScript type errors in rateLimiter
  apps/backend/src/utils/rateLimiter.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update Dockerfile to simplify bun install command and remove filter from build step
  apps/website/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

feat(backend): add unit tests for extractJson function and enhance JSON extraction logic
  apps/backend/src/utils/AI/auditDictionary/index.ts
  apps/backend/src/utils/AI/auditDictionaryMetadata/index.ts
  apps/backend/src/utils/AI/auditTag/index.ts
  apps/backend/src/utils/extractJSON.test.ts
  apps/backend/src/utils/extractJSON.ts
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/DictionaryDetailsForm.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/DictionaryDetails/dictionaryDetails.content.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(design-system): replace dictionaryKey with dictionaryLocalId in DictionaryFieldEditor
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureEditor.tsx
  packages/@intlayer/design-system/src/components/DictionaryFieldEditor/StructureView/StructureView.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update Dockerfile and package.json to streamline build commands and improve module loading logic
  apps/website/Dockerfile
  apps/website/package.json
  bun.lock
  packages/@intlayer/config/src/utils/ESMxCJSHelpers.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): fix Docker for bun
  apps/backend/Dockerfile
  apps/website/Dockerfile
  apps/website/intlayer.config.ts
  apps/website/next.config.ts
  package.json
  packages/@intlayer/chokidar/src/createType/createType.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadContentDeclaration.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadDictionaries.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadLocalDictionaries.ts
  packages/@intlayer/chokidar/src/prepareIntlayer.ts
  packages/@intlayer/config/src/configFile/buildConfigurationFields.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/config/src/defaultValues/build.ts
  packages/@intlayer/config/src/defaultValues/content.ts
  packages/@intlayer/config/src/loadExternalFile.ts
  packages/@intlayer/config/src/types/config.ts
  packages/@intlayer/config/src/types/plugin.ts
  packages/@intlayer/config/src/utils/ESMxCJSHelpers.ts
  packages/@intlayer/design-system/Dockerfile
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/dynamic-dictionaries-entry/src/index.ts
  packages/@intlayer/fetch-dictionaries-entry/src/index.ts
  packages/@intlayer/mcp/Dockerfile
  packages/@intlayer/mcp/src/tools/cli.ts
  packages/@intlayer/mcp/src/tools/docs.ts
  packages/@intlayer/remote-dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
  packages/next-intlayer/src/server/getNextVertion.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  plugins/sync-json-plugin/src/index.ts
  scripts/docker-build-website.sh
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(docs): add getKeys utility and expose key retrieval functions for blogs, docs, frequent questions, and legal entries
  apps/website/src/components/LandingPage/FeaturesSection/index.content.ts
  docs/src/blog.ts
  docs/src/common.ts
  docs/src/doc.ts
  docs/src/frequentQuestions.ts
  docs/src/legal.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update Dockerfiles to replace package paths with simplified directory structure for documentation
  apps/backend/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore(website): update formatCommand in intlayer.config.ts to use bun x biome for file formatting
  apps/website/intlayer.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): refactor Dockerfile and configuration handling
  apps/website/Dockerfile
  apps/website/src/components/Dashboard/Editor/EditorLayout.tsx
  packages/@intlayer/chokidar/src/createType/createModuleAugmentation.ts
  packages/@intlayer/chokidar/src/handleUnlinkedContentDeclarationFile.ts
  packages/@intlayer/chokidar/src/loadDictionaries/loadContentDeclaration.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/config/src/configFile/loadConfigurationFile.ts
  packages/@intlayer/config/src/loadExternalFile.ts
  packages/@intlayer/core/src/dictionaryManipulator/getUnmergedDictionaryByKeyPath.ts
  packages/@intlayer/core/src/interpreter/getIntlayer.ts
  packages/@intlayer/dictionaries-entry/src/index.ts
  packages/@intlayer/dynamic-dictionaries-entry/src/index.ts
  packages/@intlayer/fetch-dictionaries-entry/src/index.ts
  packages/@intlayer/remote-dictionaries-entry/src/index.ts
  packages/@intlayer/unmerged-dictionaries-entry/src/index.ts
  packages/angular-intlayer/src/editor/dictionariesRecord.ts
  packages/intlayer-editor/server/src/controllers/dictionary.controller.ts
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/vite-intlayer/src/intlayerPrunePlugin.ts
  packages/vue-intlayer/src/editor/dictionariesRecord.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix: update Dockerfiles to correct blog directory path from 'blogs/en' to 'blog/en'
  apps/backend/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore(website): update Dockerfile to use npx for Next.js build and switch to node for starting the application
  apps/website/Dockerfile
Due: none

fix: update Dockerfiles to correct legal document path from package structure to simplified directory
  apps/backend/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

chore(website): update Dockerfile to use npx for starting the Next.js application
  apps/website/Dockerfile
Due: none

chore(website): remove unused 'require' references from intlayer and next configuration files
  apps/website/intlayer.config.ts
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(docker): refine Dockerfile to exclude specific documentation directories for cleaner builds
  apps/backend/Dockerfile
  packages/@intlayer/mcp/Dockerfile
Due: none

feat(config): add logStack utility for enhanced error stack logging
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/utils/logStack.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): update NotFound page component to utilize locale in content fetching
  apps/website/src/app/[locale]/(landing)/[...not-found]/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): set default locale for NotFound page and update content rendering
  apps/website/src/app/[locale]/(landing)/[...not-found]/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): simplify NotFound page component and hardcode content for improved rendering
  apps/website/src/app/[locale]/(landing)/[...not-found]/page.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix error list to make for bun compatibility
  apps/website/Dockerfile
  apps/website/intlayer.config.ts
  apps/website/next.config.ts
  bun.lock
  docs/docs/en/formatters.md
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionaries.ts
  packages/@intlayer/api/src/distantDictionary/fetchDistantDictionary.ts
  packages/@intlayer/api/src/types.ts
  packages/@intlayer/config/src/configFile/getConfiguration.ts
  packages/@intlayer/core/src/interpreter/getIntlayerAsync.ts
  packages/@intlayer/core/src/interpreter/index.ts
  packages/@intlayer/webpack/src/index.ts
  packages/@intlayer/webpack/src/webpack-plugin.ts
  packages/@intlayer/webpack/src/webpack.config.ts
  packages/angular-intlayer/src/webpack/mergeConfig.ts
  packages/intlayer/src/index.ts
  packages/next-intlayer/package.json
  packages/next-intlayer/src/server/withIntlayer.ts
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/src/intlayerCracoPlugin.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(website): update Dockerfile to use npm for starting the Next.js application
  apps/website/Dockerfile
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: any of: *.{md,mdx}
