Repository aymericzip/intlayer: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor(website): separate DashboardLayout into content component for improved structure and readability
  apps/website/src/app/[locale]/(dashboard)/layout.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore(website): update Dockerfile to use bun for starting the application
  apps/website/Dockerfile
Due: none

refactor: update tag types and improve audit functionality in AI and Dashboard components
  apps/backend/src/controllers/ai.controller.ts
  apps/backend/src/utils/AI/auditTag/index.ts
  apps/website/src/components/Dashboard/TagForm/TagEditionForm.tsx
  apps/website/src/components/Dashboard/TagForm/TagForm.tsx
  apps/website/src/components/Dashboard/TagForm/index.content.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: update package dependencies for rollup-plugin-visualizer and turbo
  bun.lock
  package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: downgrade zod dependency to version 3.25.76 in package.json for the CI pass
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

chore: downgrade dotenv dependency to version 16.6.1 in multiple package.json files
  bun.lock
  packages/@intlayer/config/package.json
  packages/@intlayer/mcp/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update content security policy to include googleusercontent.com for improved image loading
  apps/website/next.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): remove unused getExtension utility and clean up translation handling in transformJSFile
  apps/website/src/components/LandingPage/FeaturesSection/VisualEditorSection/index.content.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/utils/getExtension.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/_test.content.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.test.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
  packages/@intlayer/cli/src/fill/fill.ts
  packages/@intlayer/config/src/index.ts
  packages/@intlayer/config/src/loadExternalFile.test.ts
  packages/@intlayer/config/src/loadExternalFile.ts
  packages/@intlayer/config/src/utils/getExtension.ts
  packages/@intlayer/core/src/deepTransformPlugins/getFilterMissingTranslationsContent.test.ts
  packages/@intlayer/core/src/deepTransformPlugins/getFilterMissingTranslationsContent.ts
  packages/@intlayer/core/src/dictionaryManipulator/getNodeType.ts
  packages/@intlayer/core/src/transpiler/file/file.ts
  packages/@intlayer/core/src/types/nodeType.ts
  packages/@intlayer/design-system/src/components/CopyToClipboard/index.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): enhance translation handling in transformJSFile and update content structure in tests
  apps/website/intlayer.config.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/_test.content.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.test.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/transformJSFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): remove formatCode function and integrate formatting command directly in writeJSFile
  packages/@intlayer/chokidar/src/writeContentDeclaration/formatCode.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeContentDeclaration.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(chokidar): remove unused formatCode function from index.ts
  packages/@intlayer/chokidar/src/index.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update formatCommand in intlayer.config.ts to include --write option and set cwd in writeJSFile for proper execution context
  apps/website/intlayer.config.ts
  packages/@intlayer/chokidar/src/writeContentDeclaration/writeJSFile.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): adjust padding class in DocumentationRender component for better responsiveness
  apps/website/src/components/DocPage/DocumentationRender.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(website): integrate useSearch hook for improved search functionality in SearchView component
  apps/website/src/components/DocPage/Search/SearchView.tsx
  packages/@intlayer/design-system/src/hooks/useSearch.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(backend): streamline rate limiter configuration and enhance type safety
  apps/backend/src/utils/rateLimiter.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor(website): improve input focus handling in SearchView component
  apps/website/src/components/DocPage/Search/SearchView.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): update Dockerfile to use npx for starting the application
  apps/website/Dockerfile
Due: none

fix(website): update Dockerfile CMD to use npx next start for application launch
  apps/website/Dockerfile
Due: none

chore(dependencies): block package versions across projects by replacing caret (^) with exact versions in package.json files
  apps/backend/package.json
  apps/website/package.json
  bun.lock
  docs/package.json
  examples/angular-app/package.json
  examples/astro-react-app/package.json
  examples/express-app/package.json
  examples/nest-app/package.json
  examples/next-15-next-intl-app/package.json
  examples/nextjs-14-app/package.json
  examples/nextjs-15-app/package.json
  examples/nuxt-3-app/package.json
  examples/react-app/package.json
  examples/react-router-app/package.json
  examples/tanstack-start-app/package.json
  examples/vite-preact-app/package.json
  examples/vite-react-app/package.json
  examples/vite-solid-app/package.json
  examples/vite-svelte-app/package.json
  examples/vite-vue-app/package.json
  package.json
  packages/@intlayer/editor/package.json
  packages/angular-intlayer/package.json
  packages/astro-intlayer/package.json
  packages/express-intlayer/package.json
  packages/intlayer-cli/package.json
  packages/intlayer-editor/package.json
  packages/nuxt-intlayer/package.json
  packages/preact-intlayer/package.json
  packages/react-intlayer/package.json
  packages/react-scripts-intlayer/package.json
  packages/solid-intlayer/package.json
  packages/svelte-intlayer/package.json
  packages/vite-intlayer/package.json
  packages/vue-intlayer/package.json
  plugins/sync-json-plugin/package.json
  utils/ts-config-types/package.json
  utils/ts-config/package.json
  utils/tsup-config/package.json
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

fix(website): restore Dockerfile CMD to use bun for application launch
  apps/website/Dockerfile
Due: none

refactor(backend): enhance type safety in rate limiter handlers and key generators
  apps/backend/src/utils/rateLimiter.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

feat(design-system): add Browser component
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
  packages/@intlayer/design-system/src/components/Browser/browser.stories.tsx
  packages/@intlayer/design-system/src/components/Browser/index.ts
  packages/@intlayer/design-system/src/components/index.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: use design system classes, fix containerStyle, add multilingual support
  packages/@intlayer/design-system/src/components/Browser/Browser.content.ts
  packages/@intlayer/design-system/src/components/Browser/Browser.tsx
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true

refactor: clean repo
  .vscode/extensions.json
  apps/backend/src/controllers/test.json
  packages/@intlayer/api/types/tsdown.d.ts
  packages/@intlayer/babel/types/tsdown.d.ts
  packages/@intlayer/config/types/tsdown.d.ts
  packages/@intlayer/core/types/tsdown.d.ts
  packages/@intlayer/types/.npmignore
  packages/@intlayer/types/README.md
  packages/@intlayer/types/package.json
  packages/@intlayer/types/src/config.ts
  packages/@intlayer/types/src/dictionary.ts
  packages/@intlayer/types/src/index.ts
  packages/@intlayer/types/src/keyPath.ts
  packages/@intlayer/types/src/locales.ts
  packages/@intlayer/types/src/module_augmentation.ts
  packages/@intlayer/types/src/nodeType.ts
  packages/@intlayer/types/src/plugin.ts
  packages/@intlayer/types/src/translation.ts
  packages/@intlayer/types/tsconfig.json
  packages/@intlayer/types/tsconfig.types.json
  packages/@intlayer/types/tsdown.config.ts
  packages/@intlayer/types/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Path conditions:
  biome check --write --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,yml,yaml}
  prettier --write: any of: *.{md,mdx}
